<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="/admin/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">
    <link href="/admin/plugins/select2/dist/css/select2-bootstrap.css" rel="stylesheet">
    <link href="/admin/plugins/toggles/toggles.css" rel="stylesheet">

    <link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>
    <link href="/admin/plugins/md/css/style.css" rel="stylesheet"/>

    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>

    <style>
        #tags_tagsinput {
            background-color: #fafafa;
            border: 1px solid #eeeeee;
        }

        #tags_addTag input {
            width: 100%;
        }

        #tags_addTag {
            margin-top: -5px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            编辑文章
            #else
            发布文章
            #end
        </h4>
    </div>
    <div class="col-md-12">
        <form id="articleForm" role="form" novalidate="novalidate">
            <input type="hidden" name="categories" id="categories"/>
            <input type="hidden" name="cid" value="" id="cid"/>
            <input type="hidden" name="status" value="" id="status"/>
            <input type="hidden" name="allow_comment" value="" id="allow_comment"/>
            <input type="hidden" name="allow_ping" value="" id="allow_ping"/>
            <input type="hidden" name="allow_feed" value="" id="allow_feed"/>
            <input type="hidden" name="content" id="content-editor"/>

            <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                <input type="text" class="form-control" placeholder="请输入文章标题（必须）" name="title" required
                       aria-required="true" value=""/>
            </div>

            <div class="form-group col-md-6" style="padding: 0 0 0 10px;">
                <input type="text" class="form-control" placeholder="自定义访问路径，如：my-first-article  默认为文章id" name="slug"
                       value=""/>
            </div>

            <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                <input name="tags" id="tags" type="text" class="form-control" placeholder="请填写文章标签"
                       value=""/>
            </div>


            <div class="clearfix"></div>
            <div class="form-group">
                <textarea style="height: 350px" autocomplete="off" id="text" name="text" class="markdown-textarea"></textarea>
            </div>

            <div class="form-group col-md-3 col-sm-4">
                <label class="col-sm-4">开启评论</label>
                <div class="col-sm-8">
                    <div class="toggle toggle-success allow-${contents.allow_comment ?! true}"
                         onclick="allow_comment(this);"></div>
                </div>
            </div>

            <div class="form-group col-md-3 col-sm-4">
                <label class="col-sm-4">允许Ping</label>
                <div class="col-sm-8">
                    <div class="toggle toggle-success allow-${contents.allow_ping ?! true}"
                         onclick="allow_ping(this);"></div>
                </div>
            </div>

            <div class="form-group col-md-3 col-sm-4">
                <label class="col-sm-4">允许订阅</label>
                <div class="col-sm-8">
                    <div class="toggle toggle-success allow-${contents.allow_feed ?! true}"
                         onclick="allow_feed(this);"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="text-right">
                <a class="btn btn-default waves-effect waves-light" href="/admin/article">返回列表</a>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="subArticle('publish');">
                    保存文章
                </button>
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="subArticle('draft');">
                    存为草稿
                </button>
            </div>
        </form>
    </div>

</div>

<script src="/admin/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="/admin/plugins/jquery-multi-select/jquery.quicksearch.js"></script>

<script src="/admin/plugins/md/js/jquery.scrollto.js"></script>
<script src="/admin/plugins/md/js/pagedown.js"></script>
<script src="/admin/plugins/md/js/pagedown-extra.js"></script>
<script src="/admin/plugins/md/js/diff.js"></script>
<script src="/admin/plugins/md/js/md.js"></script>

<script src="//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
<script src="//cdn.bootcss.com/select2/3.4.8/select2.min.js"></script>
<script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
<script src="/admin/js/article.js"></script>

</body>
</html>