<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header::header"></head>
<body class="fixed-left">
<div id="wrapper">
    <div th:include="admin/common::common"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12">
                        <h4 class="page-title">系统设置</h4>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">全局设置</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="global-form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">站点名称</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_title" placeholder="站点名称"
                                                   value="" required aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">站点描述</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_description" placeholder="站点描述"
                                                   value="" required aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">站点关键词</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_keywords" placeholder="站点关键词"
                                                   value="" required aria-required="true"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">博客主题</label>
                                        <div class="col-md-9">
                                            <select id="site_theme" name="site_theme" class="form-control">
                                                <option th:each="theme:${themes}" th:text="${theme.themename}" th:value="${theme.themename}"
                                                        selected >默认主题</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="text-align: center">
                                            <button id="leftbtn" type="button" class="btn btn-primary waves-effect waves-light">
                                                保存设置
                                            </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-color panel-inverse">
                            <div class="panel-heading">
                                <h3 class="panel-title">个性化设置</h3>
                            </div>
                            <div class="panel-body">
                                <form id="indivi-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">微博账号</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_weibo" value=""
                                                   placeholder="微博账号，不输入则不显示">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">知乎账号</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_zhihu" value=""
                                                   placeholder="知乎账号，不输入则不显示">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Github账号</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_github"
                                                   value="" placeholder="Github账号，不输入则不显示">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Twitter账号</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_twitter"
                                                   value="" placeholder="Twitter账号，不输入则不显示">
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align: center">
                                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveSetting()">
                                            保存设置
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
<script type="text/javascript">

    $('#leftbtn').click(function () {
        var themename = $('#site_theme').val();
        var theme = new Object();
        theme.themename = themename;
        $.ajax({
            url : "/admin/dosetting",
            type : "post",
            data : theme,
            success : function (msg) {
                if (msg.result)
                    swal('提示信息', msg.msgInfo, 'success');
                else
                    swal('提示信息', msg.msgInfo, 'error');
            }
        });
    });
    /**
     * 保存全局设置
     */
    function saveSetting() {
        var param = $('#global-form').serialize();
        $.post('/admin/setting', param, function (result) {
            if (result && result.success) {
                swal('提示信息', '保存成功', 'success');
            } else {
                swal("提示消息", result.msg, 'error');
            }
        });
    }

    /**
     * 保存个性化设置
     */
    function saveIndiviSetting() {
        var param = $('#indivi-form').serialize();
        $.post('/admin/setting', param, function (result) {
            if (result && result.success) {
                swal('提示信息', '保存成功', 'success');
            } else {
                swal("提示消息", result.msg, 'error');
            }
        });
    }
    /**
     * 设置是否允许重新安装
     */
    function allow_reinstall(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_install').val(0);
        }
        if (off == 1) {
            $('#allow_install').val(1);
        }
    }

    /**
     * 系统备份
     * @param type
     */
    function backup(type) {
        var param = {
            bk_type: type,
            bk_path: $('#backup_dir').val()
        };
        $.post('/admin/backup', param, function (result) {
            result = eval(result);
            if (result && result.success) {
                if(result.payload && result.payload.attach_path){
                    swal('备份成功', '您的附件备份在 <mark>'+ result.payload.attach_path +'</mark><br/><br/>' +
                        '主题备份存储在 <mark>'+ result.payload.theme_path +'</mark>', 'success');
                    $('#backup_dir').val('');
                }
                if(result.payload.sql_path){
                    window.location.href = '/upload/' + result.payload.sql_path;
                }
            } else {
                swal("提示消息", result.msg, 'error');
            }
        });
    }


    $('.allow-1').toggles({
        on: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });
    $('.allow-0').toggles({
        off: true,
        text: {
            on: '开启',
            off: '关闭'
        }
    });
</script>
</body>
</html>