<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--包含头模块-->
<head th:include="themes/default/header::header" />
<body>
<header class="header bg-white" th:include="themes/default/nav::nav"></header>
<div class="main-content archive-page clearfix">
    <div class="categorys-item" th:each="aL:${archiveList}">
       <!-- #for(archive : archives)-->
        <div class="categorys-title" th:text="${aL.key}"></div>
        <div class="post-lists">
            <div class="post-lists-body">
                <!--#for(article : archive.articles)-->
                <div class="post-list-item" th:each="blog:${aL.value}">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title">
                                <a th:href="@{'/blog/'+${blog.id}}" th:text="${blog.title}"></a>
                            </div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date">发布于<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- #end-->
            </div>
        </div>
        <!--#end-->

    </div>
    <div class="lists-navigator clearfix">
        <ol class="lists-navigator clearfix">
            <!--<li class="previous">
                <a href="">←</a>
            </li>
            <li class="current">
                <a href="">1</a>
            </li>
            <li class="">
                <a href="">2</a>
            </li>
            <li class="">
                <a href="">3</a>
            </li>
            <li class="">
                <a href="">4</a>
            </li>
            <li class="next">
                <a href="">→</a>
            </li>-->
        </ol>
    </div>
</div>
<footer th:include="themes/default/footer::footer" />
</body>