<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--<meta name="keywords" content="${keywords ?! site_option('site_keywords')}"/>
    <meta name="description" content="${description ?! site_option('site_description')}"/>-->
    <link rel="shortcut icon" href="/user/img/favicon.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>Z.M.C</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet">
    <link href="/user/css/style.min.css" rel="stylesheet">
    <link href="/plugings/nprogress.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/plugings/nprogress.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <style>
        body{
            background-color: #f7f7f7;
        }
        footer{
            background-color: #ffffff;
        }
    </style>
    <script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>

</head>
