<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--包含头模块-->
<head th:include="themes/default/header::header" />
<body>
<header class="header bg-white" th:include="themes/default/nav::nav"></header>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
        <ul class="flinks">
            <li>🔒 <a href="https://www.github.com/zhongmc1995/" target="_blank">钟明城的GitHub</a></li>
            <li>
                🔒 <a class="social csdn" target="blank" href="http://blog.csdn.net/airmario?viewmode=list">钟明城的CSDN</a>
            </li>
            <br/>
            <li>
                🔒 <a class="social csdn" target="blank" href="https://zhongmc1995.github.io">GitPage</a>
            </li>
            <li>
                🔒 <a class="social csdn" target="blank" href="https://moumaobuchiyu.com">某猫的小窝</a>
            </li>
        </ul>
        <h3>链接须知</h3>
        <blockquote>
            <ul>
                <li><p>请确定贵站可以稳定运营</p></li>
                <li><p>原创博客优先，技术类博客优先，设计、视觉类博客优先</p></li>
                <li><p>经常过来访问和评论，眼熟的</p></li>
            </ul>
        </blockquote>
        <p>链接申请:zhongmc_me@163.com</p>
        <h3>基本信息</h3>
        <blockquote>
            <ul>
                <li><p>钟明城的技术博客</p></li>
            </ul>
        </blockquote>

        </div>
</article>
</body>