<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common">
<div class="loader">
    <div class="loader-content">
        <img src=/user/img/simple/1.gif alt="Loader" class="loader-loader" />
    </div>
</div>
<div id="nav"></div>
<div class="left">
    <div class="left-head">
        <div class="left-head-img"><img src="/user/img/simple/head.png" ondragstart="return false;"></div>
        <div class="left-head-name"><p>zhongmc</p></div>
    </div>
    <ul>
        <li class="left-list">
            <a href="/">
                <div class="left-list-img-box"><img src="/user/img/simple/home.png" ondragstart="return false;"></div>
                <p>主页</p>
            </a>
        </li>
        <li class="left-list">
            <div class="left-list-img-box"><img src="/user/img/simple/file.png" ondragstart="return false;"></div>
            <p>归档</p>
            <div class="left-list-down"><img src="/user/img/simple/smalldown.png" ondragstart="return false;"></div>
            <div class="left-list-out">
                <ul id="ul2">
                </ul>
            </div>
        </li>
        <li class="left-list">
            <a href="/category-list">
                <div class="left-list-img-box"><img src="/user/img/simple/cloud.png"ondragstart="return false;"></div>
                <p>标签云</p>
            </a>
        </li>
        <li class="left-list">
            <div class="left-list-img-box"><img src="/user/img/simple/about.png"ondragstart="return false;"></div>
            <p>关于我</p>
        </li>
    </ul>
</div>

<div class="right right-github">
    <div class="right-img-box"><img src="/user/img/simple/github.png" ondragstart="return false;"></div>
    <p>moumao</p>
</div>
<div class="right right-weibo">
    <div class="right-img-box"><img src="/user/img/simple/weibo.png" ondragstart="return false;"></div>
    <p>@某猫同学</p>
</div>
<div class="right right-qq">
    <div class="right-img-box"><img src="/user/img/simple/QQ.png" ondragstart="return false;"></div>
    <p>1195358569</p>
</div>
<div class="right right-weixin">
    <div class="right-img-box"><img src="/user/img/simple/weixin.png" ondragstart="return false;"></div>
    <p>wangchengyu1231</p>
</div>
<div class="right right-mail">
    <div class="right-img-box"><img src="/user/img/simple/mail.png" ondragstart="return false;"></div>
    <p>1195358569@qq.com</p>
</div>
<div class="background"></div>
<div class="nav-btn"><img src="/user/img/simple/list.png" ondragstart="return false;"></div>
</div>