<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="shortcut icon" href="/user/img/favicon.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/user/css/simple.css">
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/plugings/jquery.rotate.min.js"></script>
    <script src="/js/style.js"></script>
    <script src="/js/common.js"></script>
</head>