*{
	margin:0px;
	padding: 0px;
	font-size: 40px;
}
.header{
	width:100%;
	height:80px;
}

body {
	background-color:#efefef;
	padding-top:50px;
}
#imageBox{
	width:100%;
	height:400px;
	margin-bottom: 40px;
	background: url("/images/blog.png");
	background-size:100%;
}
#footer{
	width:100%;
	height:50px;
	background-color:#222222;
}
.pagelink span{
	color:#222222;
}
#rightBox{
}