<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="/" class="logo"><strong>Z.M.C</strong></a>

            </header>

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Blog</h1>
                </header>

                <span class="image main"><img src="/images/blog.png" alt=""/></span>
                <div th:each="blog : ${blogList}" class="box">
                    <h2 th:text="${blog.title}" id="content">title</h2>
                    <p th:text="${blog.keywords}"></p>
                    <a th:href="@{'/blog/'+${blog.id}}" class="button">Detail</a>

                </div>

            </section>
            <div style="margin: 0px auto">
                <ul class="pagination" style="text-align: center" th:utext="${pageStr}">
                    <!--<li><span class="button disabled">Prev</span></li>
                    <li><a href="#" class="page active">1</a></li>
                    <li><a href="#" class="page">2</a></li>
                    <li><a href="#" class="page">3</a></li>
                    <li><span>&hellip;</span></li>
                    <li><a href="#" class="page">8</a></li>
                    <li><a href="#" class="page">9</a></li>
                    <li><a href="#" class="page">10</a></li>
                    <li><a href="#" class="button">Next</a></li>-->
                </ul>
            </div>
        </div>
        <div class="myfooter" th:include="footer :: #myfooter"></div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:include="sidebar :: #sidebar"></div>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="/js/common.js"></script>
</body>
</html>