<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Z.M.C</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <style rel="stylesheet" type="text/css">

    </style>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <a href="/" class="logo"><strong>Z.M.C</strong></a>

            </header>
            <section>
                <span class="image main"><img src="images/header_bg.jpg" alt=""/></span>


            </section>


            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Blog</h2>
                </header>
                <div class="posts">
                    <article th:each="blog : ${blogList}">
                        <a href="#" class="image"><img src="images/pic01.jpg" alt=""/></a>
                        <h3 th:text="${blog.title}">test</h3>
                        <p th:text="${blog.keywords}">Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                            dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus
                            aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" th:href="@{'blog/'+${blog.id}}" class="button" target="_blank">Detail</a></li>
                        </ul>
                    </article>
                </div>
                <hr class="major"/>
                <header>
                    <a href="/blog-list" class="button" style="width: 100%; float: right">More</a>
                </header>
            </section>


        </div>
        <div class="myfooter" th:include="footer :: #myfooter"></div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:include="sidebar :: #sidebar"></div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="js/common.js"></script>
</body>
</html>