<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/"><strong>首页</strong></a></li>
                <li><a href="blog-list"><strong>博客列表</strong></a></li>
                <li><a href="elements.html"><strong>博客分类</strong></a></li>
                <li><a href="elements.html"><strong>博客归档</strong></a></li>
                <li><a href="elements.html"><strong>相册</strong></a></li>
                <li><a href="elements.html"><strong>关于</strong></a></li>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
            &copy; 2017-1-22. 钟明城的独立博客.
            </p>
        </footer>

    </div>
</div>